/* line 1, ../src/scss/_styles.scss */
html {
  background: tomato;
  color: white;
  -webkit-user-select: none;
  /* to avoid copy paste possibility on html */
  font-family: Georgia;
}

@-webkit-keyframes mathafakah {
  /* line 11, ../src/scss/_styles.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 14, ../src/scss/_styles.scss */
  50% {
    -webkit-transform: scale(0.8);
  }

  /* line 17, ../src/scss/_styles.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

/* line 24, ../src/scss/_styles.scss */
#yeah.shake {
  -webkit-animation-name: mathafakah;
  -webkit-animation-duration: 100ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-timing-function: linear;
}
