body {
  background-color: cornflowerblue;
  color: black; }

/* line 48, icons/*.png */
.icons-sprite, .icons-100 {
  background-image: url('../img/icons-sbbb5c07b45.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../Programs/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-100 {
  background-position: 0 0;
  height: 100px;
  width: 100px; }
